<div class="bg-white border" *ngIf="pet$ | async as pet">
	<div class="row">
		<div class="col-lg-8">
			<app-pet [imgUrl]="pet.url" [imgDescription]="pet.description"></app-pet>
		</div>
		<div class="col-lg-4">
			<small>
				<p class="text-left break-word">{{ pet.description }}</p>
				<i class="fa fa-heart-o fa-2x mr-2 pull-left" (click)="like()">{{ pet.likes }}</i>
				<i class="fa fa-comment-o fa-2x mr-2 ml-2">{{ pet.comments }}</i>
				<i class="fa fa-trash-o fa-2x pull-right" (click)="delete()"></i>
			</small>

			<app-comments *ngIf="pet.allowComments; else warning" [petId]="pet.id"></app-comments>

			<ng-template #warning><p>Usuário não pode comentar sobre o animal.</p></ng-template>
		</div>
	</div>
</div>
