<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #form="ngForm">
	<div class="form-group">
		<input class="form-control" placeholder="Usuário" type="text" [(ngModel)]="user" name="user" #iUser="ngModel" required />
		<app-message *ngIf="iUser.invalid && iUser.touched" message="Usuário obrigatório"></app-message>
	</div>
	<div class="form-group">
		<input class="form-control" placeholder="Senha" type="password" [(ngModel)]="password" name="password" #iPassword="ngModel" required />
		<app-message *ngIf="iPassword.invalid && iPassword.touched" message="Senha obrigatória"></app-message>
	</div>

	<button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">Entrar</button>
</form>

<p>Quero me <a [routerLink]="['new-user']">cadastrar</a></p>
